.buttonContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background:linear-gradient(#F0A8D0,#F7B5CA,#FFC6C6,#FFEBD4 ) ;
    
    }
    .button{
        width: 45px;
        height: 45px;
        margin: 3px;
        background-color:pink ;
        font-weight: 500;
        font-size: 1rem;
    }