.buttonContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    }
    .button{
        width: 45px;
        height: 45px;
        margin: 3px;
        background-color:pink ;
        font-weight: 500;
        font-size: 1rem;
    }