 * {
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
     border: border-box;
 }
 /* nav 1*/
 
 a {
     text-decoration: none;
 }
 
 .navbar {
     height: 60px;
     background-color: #0f1111;
     color: white;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
 }
 
 .nav-logo {
     height: 50px;
     width: 100px;
 }
 
 .logo {
     background-image: url(Amazon-logo.webp);
     background-size: cover;
     background-position: center;
     height: 50px;
     width: 100%;
 }
 
 .border {
     border: 1.5px solid transparent;
     cursor: pointer;
 }
 
 .border:hover {
     border: 1.5px solid white;
 }
 /* nav 2*/
 
 .address-one {
     color: #cccccc;
     font-size: 1rem;
     margin-left: 15px;
 }
 
 .address-two {
     font-size: 1rem;
     margin-left: 5px;
 }
 
 .address-icon {
     display: flex;
     align-items: center;
 }
 /* nav 3*/
 
 .nav-search {
     display: flex;
     justify-content: space-evenly;
     background-color: pink;
     width: 620px;
     height: 40px;
     border-radius: 4px;
 }
 
 .nav-select {
     background-color: #f3f5d8de;
     cursor: pointer;
     text-align: center;
     border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
     border: none;
 }
 
 .nav-input {
     width: 100%;
     font-size: 1rem;
     border: none;
 }
 
 .search {
     width: 40px;
     background-color: #f5d224;
     color: #0f1111;
     cursor: pointer;
     text-align: center;
     border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
     border: none;
 }
 
 .nav-search:hover {
     border: 2px solid orange;
 }
 /* nav 4*/
 
 .nav-one {
     font-size: 0.5rem;
 }
 
 .nav-two {
     font-size: 0.7rem;
     font-weight: 700;
 }
 /* nav 5*/
 
 .nav-cart i {
     font-size: 30px;
 }
 
 .nav-cart {
     font-size: 0.85rem;
     font-weight: 700;
 }
 /*  panal*/
 
 .panal {
     height: 40px;
     background-color: #222f3d;
     display: flex;
     color: white;
     align-items: center;
     justify-content: space-evenly;
 }
 
 .panal-option p {
     display: inline;
     margin-left: 15px;
 }
 
 .panal-option {
     width: 70%;
     font-size: 0.85rem;
 }
 
 .panal-deals {
     font-size: 0.9rem;
     font-weight: 700;
 }
 /*hero section */
 
 .hero-section {
     background-image: url(main1.jpg);
     height: 400px;
     background-size: cover;
     animation: main 30s infinite;
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }
 
 @keyframes main {
     14% {
         background-image: url(main1.jpg);
     }
     28% {
         background-image: url(main2.jpg);
     }
     42% {
         background-image: url(main3.jpg);
     }
     56% {
         background-image: url(main4.jpg);
     }
     70% {
         background-image: url(main7.jpg);
     }
     84% {
         background-image: url(main6.jpg);
     }
     100% {
         background-image: url(main8.jpg);
     }
 }
 
 .hero-msg {
     background-color: white;
     height: 40px;
     color: black;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 0.85rem;
     width: 80%;
     margin-bottom: 25px;
 }
 
 .hero-msg a {
     color: #007185;
     text-decoration: none;
 }
 /* shop*/
 
 .bg-color {
     background-color: #cba8cc;
 }
 
 .shop-section {
     display: flex;
     justify-content: space-evenly;
 }
 
 .box {
     border: 2px solid black;
     height: 400px;
     width: 23%;
     background-color: white;
     padding: 20px 0px 15px;
 }
 
 .box-img {
     height: 350px;
     background-repeat: no-repeat;
     margin-top: 10px;
     background-size: cover;
 }
 
 .box-content {
     margin-left: 10px;
     margin-right: 10px;
 }
 /*footer*/
 
 footer {
     margin-top: 10px;
 }
 
 .foot-panal1 {
     background-color: #37475a;
     color: white;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 0.75rem;
 }
 
 .foot-panal2 {
     background-color: #222f3d;
     height: 300px;
     color: white;
     display: flex;
     justify-content: space-evenly;
 }
 
 ul a {
     display: block;
     color: #dddddd;
     font-size: 0.85rem;
     margin-top: 10px;
 }
 
 ul {
     margin-top: 27px;
 }
 
 .foot-panal3 {
     background-color: #222f3d;
     color: white;
     border-top: 2px solid white;
     height: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 .logo2 {
     background-image: url(Amazon-logo.webp);
     background-size: cover;
     background-position: center;
     height: 50px;
     width: 100px;
     border-radius: 9px;
 }
 
 .pages {
     background-color: black;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .pages a {
     color: white;
     padding-left: 25px;
 }
 
 .copyright {
     background-color: #0f1111;
     font-size: 0.75rem;
     color: white;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .sport-panal {
     height: 280px;
     width: 99%;
     background-color: white;
     border: 2px solid black;
     margin: 2px;
     padding-right: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .sport-panal div {
     height: 195px;
     width: 18%;
     background-repeat: no-repeat;
     background-size: cover;
 }