*{
 margin: 0%;
 padding: 0%s;
 text-align: center;
}
#head{
height: 4rem;
background-color: aquamarine;
color: rgb(248, 196, 129);
line-height: 4rem;
}
.choices{
    margin-top:4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.choice{
    height: 160px;
    width: 160px;   
}
 .choice img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
 }
 .choice img:hover{
    border: 3px solid rgb(15, 11, 11);
    cursor: pointer;
 }
 .score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top:4rem;
 }
#you , #computer{
    font-size: 3rem;
}
.msg-cont{
    margin-top: 2rem;
}
#msg{
    background-color: black;
    color: aliceblue;
    font-size: 1.5rem;
    display: inline;
    padding: 0.5rem;
    border-radius: 0.8rem;
}